ion-content {
  background: #0F222D
}

h2 {
  color: #EBE7D9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

p {
  color: #EBE7D9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}
